<div class="form-group has-feedback search-form-wrapper">
    <!--<label class="control-label"></label>-->
    <!--<i class="glyphicon glyphicon-search form-control-feedback"></i>-->
    <!--<img class="img-responsive search-icon" ng-src="../../images/ic-location-xs.png" alt=""/>-->
    <i class="fa fa-map-marker" aria-hidden="true"></i>
    <input type="text" class="form-control" placeholder="Search a Point of interest, Neighbourhood..." />
    <img class="img-responsive close-icon" ng-src="../../images/ic-times.png" alt=""/>
    <!--<i class="glyphicon glyphicon-remove form-control-feedback"></i>-->
</div>