<div class="form-group has-feedback search-form-wrapper">
    <!--<label class="control-label"></label>-->
    <!--<i class="glyphicon glyphicon-search form-control-feedback"></i>-->
    <img class="img-responsive search-icon" ng-src="../../images/ic-search.png" alt=""/>
    <input type="text" class="form-control" placeholder="Start typing a tag to highlight it..." />
    <img class="img-responsive close-icon" ng-src="../../images/ic-times.png" alt=""/>
    <!--<i class="glyphicon glyphicon-remove form-control-feedback"></i>-->
</div>