<div class="row">
  <div class="col-xs-12 text-center">
    <div class="">
      <h4>Referral History</h4>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-6">
    <div class="">
      <div class="form-group has-feedback">
        <label class="control-label">From</label>
        <input type="text" class="form-control" placeholder="mm/dd/yyyy" />
        <i class="glyphicon glyphicon-calendar form-control-feedback"></i>
      </div>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="">
      <div class="form-group has-feedback">
        <label class="control-label">To</label>
        <input type="text" class="form-control" placeholder="mm/dd/yyyy" />
        <i class="glyphicon glyphicon-calendar form-control-feedback"></i>
      </div>
    </div>
  </div>
</div>
